

 @keyframes borderShift {
          0% { background-position: 0% 0%; }
          100% { background-position: 100% 0%; }
        }


        .border-chase {
          position: relative;
          border: 5px solid transparent !important;
          background: 
            linear-gradient(#ffffff, #ffffff) padding-box,
            linear-gradient(90deg, 
              #6f2b8b, #f69063, #10b981, #f59e0b, #ec4899, #3b82f6
            ) border-box;
          background-size: 100% 100%, 200% 100%;
          animation: borderShift 3s ease-in-out infinite;
          border-radius: 8px;
        }

        @keyframes zoomInOut {
    0%, 100% { 
      transform: scale(1); 
      opacity: 1;
    }
    50% { 
      transform: scale(1.3); 
      opacity: 0.7;
    }
  }
  
  .animate-zoom-in-out {
    animation: zoomInOut 2s ease-in-out infinite;
  }